{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Full-width image with 16:9 ratio -->
<div class="event-header position-relative">
    {% if "placeholder" in addevent.event_image.url %}
        <img src="{% static 'images/3pieceband.png' %}" alt="placeholder" class="event-image img-fluid">
    {% else %}
        <img src="{{ addevent.event_image.url }}" alt="{{ addevent.title }}" class="event-image img-fluid">
    {% endif %}

    <!-- Floating container with event details -->
    <div class="event-info-container position-absolute">
        <div class="container p-4 bg-light event-info">
            <h5 class="event-title">{{ addevent.title }}</h5>
            <div>
                <p class=" m-0 text-start">Date: {{ addevent.start_date_time }}</p>
                <p class="event-location m-0 text-start">Location: {{ addevent.location }}</p>
            </div>
        </div>
    </div>
</div>

<!-- white div containing all content -->
<div class="bg-white m-3">
    <!-- White container for the event details -->
    <div class="container top-padding bg-white">
        <!-- Event description -->
        <div class="row">
            <div class="col-md-12">
                <p>{{ addevent.description | safe }}</p>
            </div>
        </div>

        <!-- Additional Event Details (only displayed if values are present) -->
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <!-- Is the event free -->
                    {% if addevent.is_free %}
                    <li>This event is free to attend.</li>
                    {% endif %}

                    <!-- Price of the event (only if it is not free) -->
                    {% if not addevent.is_free and addevent.price %}
                    <li>Price: {{ addevent.price }}</li>
                    {% endif %}

                    <!-- Link to event page (if available) -->
                    {% if addevent.link_to_event_page %}
                    <li>
                        <a href="{{ addevent.link_to_event_page }}" target="_blank" rel="noopener noreferrer">
                            Event Page: {{ addevent.link_to_event_page }}
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>



        <!-- Organiser -->
        <div class="row">
            <div class="col-md-12">
                <h6>Organiser: {{ addevent.organiser }}</h6>
            </div>
        </div>

        <!-- Attending section -->
        <div class="row mt-3">
            <div class="d-flex align-items-center mb-2">
                <form id="attendance-form" method="POST" action="{% url 'toggle_attendance' %}">
                    {% csrf_token %}
                    <input type="hidden" name="event_id" value="{{ addevent.id }}">
                    <div id="attendance-container" class="d-flex align-items-center" aria-label="{% if user_attending %}Currently attending. Click to unattend{% else %}Not attending. Click to attend{% endif %}">
                        <div id="attendance-icon" class="icon-circle {% if user_attending %}icon-success{% else %}icon-primary{% endif %}">
                            <i class="fa fa-user-circle"></i>
                        </div>
                        <span id="attendance-text" class="ml-2 {% if user_attending %}text-success1{% else %}text-primary1{% endif %}">
                            {% if user_attending %}
                                Attending
                            {% else %}
                                Attend?
                            {% endif %}
                        </span>
                    </div>
                </form>
            </div>
            <!-- attendance counter -->
            <div class="ml-4">
                <p id="attendance-count" class="mb-0">{{ attending_count }} attending</p>
            </div>
        </div>
    </div>

    <!-- Comments Section and Leave a Comment form -->
    <div class="container mt-4 bg-white">
        <hr>
        <div class="row">
            <div class="col-md-8">
                <h5 class="p-2">Comments:</h5>
                {% for comment in comments %}
                <div class="p-2 comments {% if not comment.is_approved and comment.user == user %}faded{% elif not comment.is_approved %} d-none{% endif %}">
                    <p class="font-weight-bold">
                        {{ comment.user.username }}
                        <span class="font-weight-normal">{{ comment.updated_on }}</span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.content | linebreaks }}
                    </div>
                    {% if not comment.is_approved and comment.user == user %}
                    <p class="approval text-muted">This comment is awaiting approval</p>
                    {% endif %}
                    {% if user.is_authenticated and comment.user == user %}
                    <button class="btn btn-delete" comment_id="{{ comment.id }}">Delete</button>
                    <button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <!-- Comment form for authenticated users -->
            <div class="col-md-4">
                {% if user.is_authenticated %}
                <div class="card">
                    <div class="card-body">
                        <h5>Leave a comment:</h5>
                        <p>Posting as: {{ user.username }}</p>
                        <form id="commentForm" method="post">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                        </form>
                    </div>
                </div>
                {% else %}
                <p>Log in to leave a comment</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Edit and delete buttons (visible only to the organizer) -->
    {% if addevent and addevent.organiser == request.user %}
    <div class="container mt-4 pb-4 ">
        <a href="{% url 'edit_event' addevent.slug %}" class="btn btn-warning">Edit Event</a>
        <form method="POST" action="{% url 'delete_event' addevent.slug %}" style="display:inline;">
            {% csrf_token %}
            <button class="btn btn-delete" data-event-slug="{{ addevent.slug }}">Delete Event</button>
        </form>
    </div>
</div>
{% endif %}

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close"
                data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn
                btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/attendance.js' %}"></script>
<script src="{% static 'js/eventsComments.js' %}"></script>

{% endblock %}