<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views Part 1</title>
</head>

<body>
    <h1>Events list</h1>
    {% for event in object_list %}
    <!-- A Django template tag starts a loop.
    The for loop statement will loop through a collection
    of objects, the object_list. Each object
    is referred to as event inside the loop.
    object_list uses Django generic ListVeiw from
    the class view EventList-->
    <h2>{{event.title}}</h2>
    <p>{{event.excerpt}}</p>
    <p>Organiser: {{event.organiser}}</p>
    <p>Date: {{event.start_date_time}}</p>
    {% endfor %}
</body>

</html>