{% extends "base.html" %}

{% block content %}

{% load static %}

<!-- Base.html holding the fullcalendar -->

<!-- Simple bootstrap container for the FullCalendar -->

<div class="container bg-light mt-4 pb-4 mb-4 rounded">
    <h1 class="text-center mb-4 pt-2">Event Calendar</h1>
    <div id="calendar"></div>
</div>

<!-- FullCalendar CSS -->
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">

<!-- FullCalendar JS -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>


<!-- calendar javascript file -->
<script src="{% static 'js/calendar.js' %}"></script>


<!-- calendar.html content ends here -->
{% endblock %}