{% extends "base.html" %}

{% block content %}

{% load static %}


<div class="container my-3">
    <h3 class="my-3 text-white">Events in {{ category.name }}</h3>
    <div class="row">
        {% for event in addevent_list %}
        <div class="col-lg-4 col-md-6 col-12 mb-4">
            {% include "event/event_card.html" with event=event %}
        </div>
        {% empty %}
        <p class="text-white">No events found in this category.</p>
        {% endfor %}
    </div>
    {% include "event/pagination.html" with page_obj=page_obj %}
</div>
<!-- index.html content ends here -->
{% endblock %}