{% load static %}

<div class="h-100 super-rounded-card">
<!-- card image -->
    <div class="card-img-top">
        {% if "placeholder" in event.event_image.url %}
        <!-- event_image is set as default="placeholder" in the AddEvents model in the event_image field
        if there is no uploaded image-->
            <img src="{% static 'images/guitarsolo.webp'%}" class="img-fluid object-fit-cover" alt="placeholder">
        {% else %}
            <img src="{{ event.event_image.url }}" class="img-fluid object-fit-cover" alt="{{ event.title }}">
        {% endif %}
    </div>
    <a href="{% url 'addevent_detail' event.slug %}" class="post-link" aria-label="This is a link to {{ event.title }}">
        <div class="card-body">
            <!-- Card body with content -->
            <h5 class="card-title">{{ event.title }}</h5>
            <p class="card-text">{{ event.start_date_time }}</p>
            <p class="card-text">{{ event.excerpt | safe }}</p>
            <p class="card-text text-muted">Organiser: {{ event.organiser }}</p>
            <!-- learn more button -->
            <span class="learn-more-link text-primary">
                Learn more &raquo;</span>
        </div>
    </a>
</div>