{% extends "base.html" %}

{% block content %}

{% load static %}

<!-- Container for the event posts -->

<div class="container my-3">
    <div class="row">
        {% for event in addevent_list %}
        <div class="col-lg-4 col-md-6 col-12 mb-4">
            <!-- include the template event cards html -->
            {% include "event/event_card.html" with event=event %}
        </div>
        {% endfor %}
        {% include "event/pagination.html" with page_obj=page_obj %}
    </div>
</div>

<!-- base.html content ends here -->
{% endblock %}