{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="container my-3">
    <h3 class="my-3 text-white">My Events</h3>
    <div class="row">
        {% for event in events %}
        <div class="col-lg-4 col-md-6 col-12 mb-4 position-relative">
            {% include "event/event_card.html" with event=event %}
            {% if event.status != 1 %}
                <a href="{% url 'addevent_detail' event.slug %}" class="post-link">
                    <div class="card event-overlay">
                        <h2 class="text-black">THIS EVENT IS IN DRAFTS.</h2>
                        <h2 class="text-black">CLICK TO UPDATE.</h2>
                    </div>
                </a>
            {% endif %}
        </div>
        {% empty %}
        <p class="text-white">You did not create any events yet!</p>
        {% endfor %}
        {% include "event/pagination.html" with page_obj=page_obj %}
    </div>
</div>
<!-- index.html content ends here -->
{% endblock %}