body {
    background-color: #F9FAFC;
    font-family: "Bodoni Moda SC", serif;
}

.navbar {
    position: relative;
}

/* Second colour background */
.bg-light-blue1 {
    background-color: #CFD9DD;

}

/* large round corners for cards */
.super-rounded-card {
    border-radius: 10px;
    overflow: hidden; /* Ensures the image stays inside the card’s rounded corners */
    background-color: #ededed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* learn more link in event cards */
.learn-more-link {
    display: block; /* To ensure it takes full width for proper spacing */
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold; /* for emphasis */
    text-decoration: none;
}


.btn-signup,
.btn-edit1 {
    background-color: #377d78;
    color: #fff;
}

.btn-signup:hover,
.btn-edit1:hover {
background-color: #f8f9fa; /* Light background on hover */
color: #377d78;
border-color: #377d78;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #377d78;
}

.btn-delete1{
    background-color: red;
    color: #fff;
}


.btn-delete1:hover {
    background-color: #f8f9fa; /* Light background on hover */
    color: red;
    border-color: red;
}

.icon-button:hover {
    background-color: #f8f9fa; /* Light background on hover */
    color: #377d78;
    border-color: #377d78;

}

.icon-button.active {
    background-color: #377d78; /* Bootstrap primary color */
    color: white;
    border-color: #fff; /* Match border to active color */
}

.learn-more-link:hover {
    text-decoration: underline;
}

.large-text {
    font-size: 1.20rem;
}

.brand {
    font-size: 1.4rem;
    /* font-weight: 700; */
    color: #4A4A4F;
    /* position: absolute; */
    left: 50%;
    transform: translateX(-50%) translateY(-50%); /* centre logo brand*/
}

.half-white-half-blue {
    background: linear-gradient(to bottom, white 50%, #1B4965 50%);
    display: flex;
    height: 350px; 
    position: relative;
}

/* Image container with a fixed height and centered image */
.image-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* the image fills the container and maintains the center focus */
.image-container img {
    object-fit: cover;  /* Ensures the image fills the space without stretching */
    object-position: center; /* Focus on the center of the image */
    width: 100%; /* Full width */
    height: 100%; /* Full height to cover the container */
}

/* White box positioned on the right, centered vertically */
.white-box {
    position: absolute;
    right: 0; /* right side */
    transform: translate(0, -50%);
    background-color: white;
    padding: 10px 40px;
    border: 5px solid #fff;
    border-radius: 5px 0px 0px 5px;
    z-index: 2; /* Ensure it's above the image */
    width: auto;
}

.white-box h6 {
    margin: 0;
    font-size: 15px;
    color: #585858; /* Text color */
}

/* white bar under the image */
.white-bar {
    background-color: white;
    text-align: center;
}

.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    color: #000;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: background-color 0.3s, border-color 0.3s;
}

.icon-button:hover {
    background-color: #f8f9fa; /* Light background on hover */
}

.icon-button.active {
    background-color: #377d78; /* Bootstrap primary color */
    color: white;
    border-color: #fff; /* Match border to active color */
}

.underline {
    text-decoration: underline;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-grey {
    background-color: #2C2C2C;
}

.main-bg {
    background-color: #1B4965;
}

.card {
    border: none;
    background-color: white;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover {
    /* background-color: #E84610; */
    color: grey;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.page-link:hover {
    background-color: #fff;
    color: #E84610;
}

.page-link {
    background-color: #E84610;
    color: #fff;
}

.btn-signup,
.btn-edit1 {
    background-color: #377d78;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #377d78;
}


/* Icon styles */
.icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 24px; /* Adjusted size for new icon */
    transition: background-color 0.3s, color 0.3s;
}

/* Icon colors when not attending */
.icon-primary {
    background-color: white;
    color: #28a745; /* Bootstrap success color (green) */
}

/* Icon colors when attending */
.icon-success {
    background-color: #28a745;
    color: white;
}

/* Hover state for the icon */
.icon-primary:hover {
    background-color: #28a745;
    color: white;
}

.icon-success:hover {
    background-color: white;
    color: #28a745; /* Bootstrap success color (green) */
}

/* Text beside the icon */
#attendance-text {
    margin-left: 10px;
    font-size: 16px;
    transition: color 0.3s;
    border-radius: 5px;
    padding: 0 .2em;
}

/* Text color when not attending */
.text-primary1 {
    background-color: white;
    color: #28a745; /* Bootstrap success color (green) */
}

.text-primary1:hover {
    background-color: #28a745;
    color: white;
}

/* Text color when attending */
.text-success1 {
    background-color: #28a745;
    color: white;
}

.text-success1:hover {
    background-color: white;
    color: #28a745; /* Bootstrap success color (green) */
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-delete {
    color: #fff;
    background: #ED0800;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.round-corner {
    border-radius: 5px;
}


.log-box {
    /* background-color: #fff; */
    /* color: #585858; */
    color: #fff;
    width: 250px;
    margin-left: auto;
    padding: 0 20px 0 0;
    border-radius: 5px 0 0 5px;
}

.transparent-color {
    background-color: #445261;
}

.object-fit-cover {
    height: 200px; 
    object-fit: cover;
    width: 100%;
}
/* Crispy Forms text */
.form-text {
    color: 	#C9C8C7/* Light grey color */
}

.navbar-link-smaller {
    font-size: 0.5rem; /* Half the default size */
}

/* General Styles */
body {
    background-color: #F9FAFC;
    font-family: "Bodoni Moda SC", serif;
}
/* Floating event info container */
.event-info-container {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 66.66667%; /* 8 columns (out of 12) in Bootstrap */
}

.event-info {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}


/* Event image styling */
.event-header {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
}


/* Comment form */
.card {
    border: none;
    background-color: white;
}

/* Attendance icon and text */
#attendance-container {
    display: flex;
    align-items: center;
}

.icon-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.icon-primary {
    background-color: white;
    color: #28a745;
}

.icon-success {
    background-color: #28a745;
    color: white;
}

/* top padding for event page */
.top-padding {
    padding: 7rem 1rem 0rem 1rem;
}

/* Full-width white container */
.full-width-container {
    width: 100%;
    background-color: white;
    padding-bottom: 30px;
}

/* Event title */
.event-title {
    font-size: 1.5rem;
    text-align: center;  /* Center align the title */
}

/* Event date and location container */
.event-details {
    display: block;  /* Ensure this is not using flexbox */
    text-align: left;  /* Left-align date and location */
}

/* Event date and location paragraphs */
.event-details p {
    margin-bottom: 0.2rem; /* Add slight space between date and location */
}

/* Attending section */
.attending-section {
    display: flex;
    align-items: center;
}

/* Comment section */
.comments {
    background-color: #f8f9fa;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* faded event when status=0 */
.event-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(207, 217, 221, 0.75); /* 50% transparent white */
    z-index: 10; /* Ensure it is above the content */
    display: flex;
    text-align: center; /* Ensures text is centered */
    pointer-events: none;
    padding: 5px;
}

.event-overlay h2 {
    color: #0e2d40;
    line-height: 2; /* stretch the text vertically */
    font-size: 2rem; 
    padding: 20px 20px; /* padding to the sides */
    margin: 0;
}

/* Image focus to the top */
.event-image {
    max-height: 600px; /*Set maximum height for large screens*/
    min-height: 300px; /*Set minimum height for smaller screens*/
    width: 100%; /* Make the image responsive */
    object-fit: cover; /* Cover the entire area */
    object-position: top; /* Focus on the top of the image */
}

@media (max-width: 768px) {
    .event-image {
        max-height: 300px; /* Adjust max height for medium screens */
    }
}

/* Custom min-height for different screen sizes for the 404 image, 404 page*/
.img-responsive {
    min-height: 60vh; /* At least 60% of the viewport height */
    object-fit: cover; /* Ensures the image maintains its aspect ratio */
}

@media (min-width: 992px) {
/* On large screens (≥ 992px) */
    .img-responsive {
        min-height: 60vh; /* Ensure that 60% of the viewport height is used on large screens as well */
        }
}