{% load static %}

{% url 'home' as home_url %}
{% url 'calendar' as calendar_url %}
{% url 'add_event' as add_event_url %}
{% url 'my_events' as my_events_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">



<head>
    <meta charset="UTF-8">

    <!--meta tag for search engines -->
    <meta name="description" content="The Word Events, Local events app, Ireland">
    <meta name="keywords" content="Events app, local events, find an event, what to do, city events">

    <title>The Word</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <!-- SRI: Ensures the integrity and security of the file, guarding against malicious code. 
         crossorigin="anonymous": Manages security and privacy around how the resource is requested. -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'favicon/android-chrome-192x192.png' %}" alt="Logo" class="logo">              
                <span class="brand align-middle">THE WORD</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link small {% if request.path == home_url %}active{% endif %}" aria-current="page" 
                            href="{% url 'home' %}" aria-label="View All Events Page">ALL EVENTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link small {% if request.path == calendar_url %}active{% endif %}" 
                            href="{% url 'calendar' %}" aria-label="View Calendar Page">CALENDAR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link small {% if request.path == add_event_url %}active{% endif %}"
                            href="{% url 'add_event' %}" aria-label="View Add an Event Page">CREATE AN EVENT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link small {% if request.path == my_events_url %}active{% endif %}"
                            href="{% url 'my_events' %}" aria-label="View Add an Event Page">MY EVENTS</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link small {% if request.path == logout_url %}active{% endif %}" href="{% url 'account_logout' %}" aria-label="View Logout Page">LOGOUT</a>
                    </li>

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link small {% if request.path == signup_url %}active{% endif %}" 
                            href="{% url 'account_signup' %}" aria-label="View sign up Page">REGISTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link small {% if request.path == login_url %}active{% endif %}" href="{% url 'account_login' %}" aria-label="View Login Page">LOGIN</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    <!-- Hero image -->
    <div class="container-fluid p-0"> 
        <div class="no-gutters align-items-center half-white-half-blue image-header-height">
            <div class="col-md-10 offset-md-1 p-0 d-flex justify-content-center align-items-center image-container">
                <img src="{% static 'images/hero-image.webp' %}" alt="event image" class="img-fluid">
                <!-- White box positioned at the right center -->
                <div class="white-box">
                    <h6>FIND YOUR EVENT</h6>
                </div>
            </div>
        </div>
    </div>

    <!-- White bar with buttons -->
    <div class="white-bar">
        <div class="d-flex justify-content-around py-1">
            <a href="{% url 'events_by_category' category_id=1 %}" class="icon-button {% if category.id == 1 %}active{% endif %}" aria-label="Go to our Music category">
                <i class="fas fa-music"></i>
                <span>Music</span>
            </a>
            <a href="{% url 'events_by_category' category_id=2 %}" class="icon-button {% if category.id == 2 %}active{% endif %}" aria-label="Go to our Sports category">
                <i class="fas fa-futbol"></i>
                <span>Sports</span>
            </a>
            <a href="{% url 'events_by_category' category_id=3 %}" class="icon-button {% if category.id  == 3 %}active{% endif %}" aria-label="Go to our Workshop and classes category">
                <i class="fas fa-paint-brush"></i>
                <span>Classes</span>
            </a>
            <a href="{% url 'events_by_category' category_id=4 %}" class="icon-button {% if category.id  == 4 %}active{% endif %}" aria-label="Go to our Culture category">
                <i class="fas fa-theater-masks"></i>
                <span>Culture</span>
            </a>
        </div>
    </div>

    <!-- displaying Django messages -->
    <div class="container">
        <div class="row text-light">
            <div class="col-md-8 offset-md-2 mt-2">
                {% for message in messages %}
                <div class="alert transparent-color {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close btn-close-white"
                        data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- logged in message -->
    <main class="flex-shrink-0 main-bg">
        {% if user.is_authenticated %}
        <div class="log-box">
            <p class="m-2">You are logged in as {{ user }}</p>
        </div>
        {% else %}
        <div class="log-box">
            <p class="m-3">You are not logged in</p>
        </div>
        {% endif %}

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

    </main>

    <!-- Footer -->

    <footer class="footer mt-auto py-3 dark-grey">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <span class="footer-brand text-white ps-3">THE WORD</span>
    
                <nav aria-label="Social Media Links">
                    <ul class="nav list-unstyled d-flex me-3">
                        <li class="ms-3"><a class="text-white" href="https://www.instagram.com/" aria-label="Go to our Instagram page" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li class="ms-3"><a class="text-white" href="https://www.youtube.com/" aria-label="Go to our YouTube page" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li class="ms-3"><a class="text-white" href="https://x.com/" aria-label="Go to our Twitter page" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </nav>
            </div>
    
            <!-- Move the hr here so it spans the full width -->
            <hr class="text-white">
    
            <div class="d-flex justify-content-end">
                <div class="text-end text-white small pe-3">
                    <p class="m-0">© THE WORD</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
        <!-- static is a Django Template Language tag -->


    {% block extras %}
    {% endblock %}

</body>

</html>